rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{userId} {
      allow create: if isAuthenticated();
    }

    match /user/{userId} {
      allow update: if isOwner(userId);
    }

    match /user/{document=**} {
      allow read: if isAuthenticated();
    }

    match /chat/{document=**} {
      allow read, write: if isAuthenticated();
    }
    match /match/{document=**} {
      allow read, write: if isAuthenticated();
    }
    match /request/{document=**} {
      allow read, write: if isAuthenticated();
    }
  }

  function isAuthenticated() {
    return request.auth.uid != null;
  }  

  function isOwner(userId) {
    return request.auth.uid == userId;
  }
}