rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if isAuthenticated();
      allow update: if isOwner(userId);
      allow read: if isAuthenticated();
    }

    match /users/{userId}/settings/{document=**} {
      allow create, update, read: if isOwner(userId);
    }

    match /users/{userId}/tokens/{document=**} {
      allow create, update, read: if isOwner(userId);
    }

    match /matches/{document=**} {
      allow read, write: if isAuthenticated();
    }

    match /requests/{requestId} {
      allow read: if resource.data.receiver_id == request.auth.uid;
      allow create: if request.resource.data.sender_id == request.auth.uid && exists(/databases/$(database)/documents/user/$(request.resource.data.receiver_id));
      allow update: if request.resource.data.receiver_id == request.auth.uid;
    }

    match /recommendations/{userId} {
      allow update: if isOwner(userId);
    }

  }

  function isAuthenticated() {
    return request.auth.uid != null;
  }  

  function isOwner(userId) {
    return request.auth.uid == userId;
  }
}