rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if isAuthenticated();
      allow update: if isOwner(userId);
      allow read: if true; // TODO: add public parameter
    }

    match /users/{userId}/settings/{document=**} {
      allow create, update, read: if isOwner(userId);
    }

    match /users/{userId}/tokens/{document=**} {
      allow create, update, read: if isOwner(userId);
    }

    match /users/{userId}/groups/{document=**} {
      allow read: if isAuthenticated();
    }

    match /matches/{document=**} {
      allow read, write: if isAuthenticated();
    }

    match /notifications/{userId}/notifications/{document=**} {
      allow read, write: if isOwner(userId);
    }

    match /groups/{groupId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /groups/{groupId}/posts/{postId} {
      allow read, write: if isAuthenticated() && exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid));
      allow read: if get(/databases/$(database)/documents/groups/$(groupId)).data.type == 'public';
    }

    match /groups/{groupId}/members/{memberId} {
      allow read, write: if isAuthenticated() && exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid));
      allow read: if get(/databases/$(database)/documents/groups/$(groupId)).data.type == 'public';
    }

    match /groups/{groupId}/posts/{postId}/comments/{commentId} {
      allow read, write: if isAuthenticated() && exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid));
      allow read: if get(/databases/$(database)/documents/groups/$(groupId)).data.type == 'public';
    }

    match /groups/{groupId}/posts/{postId}/likes/{likeId} {
      allow read, write: if isAuthenticated() && exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid));
      allow read: if get(/databases/$(database)/documents/groups/$(groupId)).data.type == 'public';
    }

    match /requests/{requestId} {
      allow read: if resource.data.receiver_id == request.auth.uid;
      allow create: if request.resource.data.sender_id == request.auth.uid && exists(/databases/$(database)/documents/users/$(request.resource.data.receiver_id));
      allow update: if request.resource.data.receiver_id == request.auth.uid;
    }

    match /recommendations/{userId} {
      allow update: if isOwner(userId);
    }

  }

  function isAuthenticated() {
    return request.auth.uid != null;
  }  

  function isOwner(userId) {
    return request.auth.uid == userId;
  }
}